@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.nft-gradient-button {
  background: linear-gradient(
    101.12deg,
    #222222 27.35%,
    #444444 99.99%,
    #555555 100%,
    #555555 100%
  );
}
.nft-gradient {
  background: linear-gradient(
    101.12deg,
    #111111 27.35%,
    #222222 99.99%,
    #333333 100%,
    #333333 100%
  );
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}




.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}





@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.custom-placeholder::placeholder {
  font-family: "Poppins", sans-serif;
}
.custom-placeholder::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}
.custom-placeholder::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  opacity: 1;
}
.custom-placeholder:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}
